<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Solicitação de Peruca</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Solicitação de Peruca</h1>
    <form>
        <div class="form-group">
            <label for="quest1">1. Qual é o seu objetivo ao fazer esse pedido?  </label>
            <input type="text" class="form-control" id="quest1" name="quest1" required>
        </div>

        <div class="form-group">
            <label for="quest2">2. Você já realizou algum pedido de peruca  anteriomente?</label>
            <input type="email" class="form-control" id="quest2" name="quest2" required>
        </div>

        <div class="form-group">
            <label for="quest3">3.Qual o tipo de câncer que voce está passando no momento?</label>
            <input type="text" class="form-control" id="quest3" name="quest3" required>
        </div>

        <div class="form-group">
            <label for="foto">Envie uma foto do seu COMPROVANTE DE  QUIMIOTERAPIA que ateste o processo de tratamento da doença.</label>
            <input type="file" class="form-control-file" id="foto" name="foto" accept="image/*" required>
        </div>

        <div class="form-group">
            <label for="mensagem">Para nos ajudarmos,  escreva caractéristicas da sua peruca:</label>
            <textarea class="form-control" id="mensagem" name="mensagem" rows="4" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar Solicitação</button>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

