/* Define a cor laranja como variável */
:root {
    --orange: #e88218;
    }
    
    /* Define o estilo para o status aprovado */
    .status-approve {
    color: var(--orange);
    }
    
    /* Define o estilo para o status rejeitado */
    .status-reject {
    color: red;
    }
    
    /* Adiciona um estilo personalizado para a tabela */
    table {
    width: 100%;
    border-collapse: collapse;
    }
    
    th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    
    th {
    background-color: #f2f2f2;
    }