* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border: 2px solid #ffffff;
	padding: 20px;
	  
	  
}

h1 {
	margin-bottom: 20px;
	text-align: center;
	color: #000000;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #000000;
}

input {
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
	padding: 10px;
	background-color: #f89d35;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	flex-direction: column;
	align-items: center;
	
}
}

button:hover {
	background-color: #ffad4d;
}

.address-section {
	grid-column: 1 / -1;
}

h2 {
	margin-bottom: 10px;
	color: #f89d35;
}



