<!DOCTYPE html>
<html>
<head>
	<title>Tela de Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
		<h1>Login</h1>
		<form>
			<label for="username">E-mail:</label>
			<input type="text" id="username" name="username" placeholder="Digite seu e-mail">

			<label for="password">Senha:</label>
			<input type="password" id="password" name="password" placeholder="Digite sua senha">

			<input type="submit" value="Entrar">

			<div class="signup-link">
				Não tem login? <a href="cadastro.html">Cadastre-se</a>
			
			</div>
		</form>
	</div>
</body>
</html>

