body {
	background-color: #fff;
	font-family: Arial, sans-serif;
}

.container {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
	color: #333;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
	color: #333;
}

input[type="text"],
input[type="password"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #f2f2f2;
}

input[type="submit"] {
	background-color: #f89d35;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #e88218;
}

.signup-link {
	margin-top: 20px;
	text-align: center;
}

.signup-link a {
	color: #f89d35;
	text-decoration: none;
}

.signup-link a:hover {
	text-decoration: underline;
}
