{% extends "base/base.html" %}

{% block content %}

{% load static %}
 <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-12">
            <form method="post" enctype="multipart/form-data" action="{% url 'cadastrar_peruca' %}" class="django-form"> {% csrf_token %}
                <div class="section-header">
                    <h2>Cadastrar novas perucas</h2>
                  </div>
                <div class="form-group">
                    <label>Tamanho:</label>
                    <select name="tamanho" class="form-control">
                        <option value="curto">Peruca de tamanho curto</option>
                        <option value="medio">Peruca de tamanho médio</option>
                        <option value="longo">Peruca de tamanho longo</option>
                    </select>
                </div> <br>
                <div class="form-group">
                    <label>Tipo:</label>
                    <select name="tipo" class="form-control">
                        <option value="liso">Peruca de cabelo liso</option>
                        <option value="ondulado">Peruca de cabelo ondulado</option>
                        <option value="cacheado">Peruca de cabelo cacheado</option>
                        <option value="crespo">Peruca de cabelo crespo</option>
                    </select>
                </div> <br>
                <div class="form-group">
                    <label>Cor:</label>
                    <select name="cor" class="form-control">
                        <option value="loiro">Peruca de cabelo loiro</option>
                        <option value="ruivo">Peruca de cabelo ruivo</option>
                        <option value="preto">Peruca de cabelo preto</option>
                        <option value="castanho">Peruca de cabelo castanho</option>
                        <option value="grisalho">Peruca de cabelo grisalho</option>
                    </select>
                </div> <br>
                <div class="form-group">
                    <label>Foto da peruca:</label>
                    <input type="file" name="foto" accept="image/*" class="form-control" required>
                </div>
                <br> <button type="submit" class="btn btn-primary btn-block">Cadastrar nova peruca</button>
              </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

    {% endblock %}