{% extends "base/base.html" %}

{% block content %}

{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/fazer_solicitacao.css' %}">
</head>

  <body>
    <div class="centered-div">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="registration-form">
                <div class="titulo">
                    <br> <h1> &zwnj; Solicitação de {{solicitacao.usuario.nome}} {{solicitacao.usuario.sobrenome}} &zwnj; </h1> <br> <br> <br>
                </div>
                <form method="post" enctype="multipart/form-data" action="{% url 'fazer_solicitacao' %}"> {% csrf_token %}
                    <div>
                        <h4> &zwnj; Respostas do Formulário &zwnj; </h4> <br> <br>
                    </div>
                    <div class="form-group">
                        <label for="questao1">Qual é o seu objetivo ao fazer esse pedido?</label>
                        <p> {{ solicitacao.questao1 }}</p>
                    </div>
                    <div class="form-group">
                        <label for="questao2">Você já realizou algum pedido de peruca anteriomente?</label>
                        <p> {{ solicitacao.questao2 }}</p>
                    </div>
                    <div class="form-group">
                        <label for="questao3">Qual o tipo de câncer que voce está passando no momento?</label>
                        <p> {{ solicitacao.questao3 }}</p>
                    </div>
                    <div class="form-group">
                        <strong>Foto do comprovante de quimioterapia:</strong> <br> <br>
                        <div class="peruca-item">
                            <img src="{{ solicitacao.comprovante.url }}" alt="Comprovante">
                        </div>
                    </div>
                    <div>
                        <br> <h4> &zwnj; Perucas &zwnj; </h4> <br> <br>
                        <p> Escolha, dentre as perucas abaixo, aquela que você achar que combine mais com você! </p>
                    </div>
                    <div class="perucas-container">
                          <div class="peruca-item">
                            <img src="{{ solicitacao.peruca.foto.url }}" alt="Peruca">
                          </div>
                      </div>
                    <div>
                        <br> <h4> &zwnj; Seu endereço &zwnj; </h4> <br> <br>
                        <p> Esse será o endereço para onde será encaminhada a sua peruca </p>
                    </div>
                    <div class="form-group">
                      <label for="rua">Rua</label>
                      <input type="text" id="rua" name="rua" class="form-control" value="{{ request.user.rua }}" required>
                    </div>
                    <div class="form-group">
                      <label for="numero">Número</label>
                      <input type="number" id="numero" name="numero" class="form-control" value="{{ request.user.numero }}" required>
                    </div>
                    <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" name="bairro" class="form-control" value="{{ request.user.bairro }}" required>
                      </div>
                    <div class="form-group">
                      <label for="cidade">Cidade</label>
                      <input type="text" id="cidade" name="cidade" class="form-control" value="{{ request.user.cidade }}" required>
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <input type="text" id="estado" name="estado" class="form-control" value="{{ request.user.estado }}" required>
                      </div>
                    <br>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Enviar solicitação </button>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
    </div>
    </body>
{% endblock %}