{% extends "base/base.html" %}

{% block content %}

{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/perucas.css' %}">
</head>

  <body>
    <div class="centered-div">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="registration-form">
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" enctype="multipart/form-data" action="{% url 'editar_peruca' peruca.pk %}"> {% csrf_token %}
                            <div>
                                <br> <h2> &zwnj; Editar peruca &zwnj; </h2> <br> <br> <br>
                            </div>
                            <div class="form-group">
                                <label>Tamanho:</label>
                                <select name="tamanho">
                                    <option value="curto" {% if peruca.tamanho == 'curto' %}selected{% endif %}>Peruca de tamanho curto</option>
                                    <option value="medio" {% if peruca.tamanho == 'medio' %}selected{% endif %}>Peruca de tamanho médio</option>
                                    <option value="longo" {% if peruca.tamanho == 'longo' %}selected{% endif %}>Peruca de tamanho longo</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label>Tipo:</label>
                                <select name="tipo">
                                    <option value="liso" {% if peruca.tipo == 'liso' %}selected{% endif %}>Peruca de cabelo liso</option>
                                    <option value="ondulado" {% if peruca.tipo == 'ondulado' %}selected{% endif %}>Peruca de cabelo ondulado</option>
                                    <option value="cacheado" {% if peruca.tipo == 'cacheado' %}selected{% endif %}>Peruca de cabelo cacheado</option>
                                    <option value="crespo" {% if peruca.tipo == 'crespo' %}selected{% endif %}>Peruca de cabelo crespo</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label>Cor:</label>
                                <select name="cor">
                                    <option value="loiro" {% if peruca.cor == 'loiro' %}selected{% endif %}>Peruca de cabelo loiro</option>
                                    <option value="ruivo" {% if peruca.cor == 'ruivo' %}selected{% endif %}>Peruca de cabelo ruivo</option>
                                    <option value="preto" {% if peruca.cor == 'preto' %}selected{% endif %}>Peruca de cabelo preto</option>
                                    <option value="castanho" {% if peruca.cor == 'castanho' %}selected{% endif %}>Peruca de cabelo castanho</option>
                                    <option value="grisalho" {% if peruca.cor == 'grisalho' %}selected{% endif %}>Peruca de cabelo grisalho</option>
                                    </select>
                            </div>
                            
                            <div>
                                <button type="submit" class="btn btn-primary btn-block">Editar peruca</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="perucas-container">
                            <div class="peruca-item">
                                <div class="dentro_item">
                                    <img src="{{ peruca.foto.url }}" alt="Foto da Peruca" class="img-fluid">
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    </body>
{% endblock %}