{% extends "base/base.html" %}

{% block content %}

{% load static %}
 <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-12">
            <form method="post" enctype="multipart/form-data" action="{% url 'editar_peruca' peruca.pk %}" class="django-form"> {% csrf_token %}
                <div class="section-header">
                    <h2>Editar peruca</h2>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Tamanho:</label>
                            <select name="tamanho" class="form-control">
                                <option value="curto" {% if peruca.tamanho == 'curto' %}selected{% endif %}>Peruca de tamanho curto</option>
                                    <option value="medio" {% if peruca.tamanho == 'medio' %}selected{% endif %}>Peruca de tamanho médio</option>
                                    <option value="longo" {% if peruca.tamanho == 'longo' %}selected{% endif %}>Peruca de tamanho longo</option>
                            </select>
                        </div> <br>
                        <div class="form-group">
                            <label>Tipo:</label>
                            <select name="tipo" class="form-control">
                                <option value="liso" {% if peruca.tipo == 'liso' %}selected{% endif %}>Peruca de cabelo liso</option>
                                <option value="ondulado" {% if peruca.tipo == 'ondulado' %}selected{% endif %}>Peruca de cabelo ondulado</option>
                                <option value="cacheado" {% if peruca.tipo == 'cacheado' %}selected{% endif %}>Peruca de cabelo cacheado</option>
                                <option value="crespo" {% if peruca.tipo == 'crespo' %}selected{% endif %}>Peruca de cabelo crespo</option>
                            </select>
                        </div> <br>
                        <div class="form-group">
                            <label>Cor:</label>
                            <select name="cor" class="form-control">
                                <option value="loiro" {% if peruca.cor == 'loiro' %}selected{% endif %}>Peruca de cabelo loiro</option>
                                    <option value="ruivo" {% if peruca.cor == 'ruivo' %}selected{% endif %}>Peruca de cabelo ruivo</option>
                                    <option value="preto" {% if peruca.cor == 'preto' %}selected{% endif %}>Peruca de cabelo preto</option>
                                    <option value="castanho" {% if peruca.cor == 'castanho' %}selected{% endif %}>Peruca de cabelo castanho</option>
                                    <option value="grisalho" {% if peruca.cor == 'grisalho' %}selected{% endif %}>Peruca de cabelo grisalho</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="perucas-container">
                            <div class="peruca-item">
                                <div class="dentro_item">
                                    <img src="{{ peruca.foto.url }}" alt="Foto da Peruca" class="img-fluid">
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <br> <br>
                <div class="row">
                    <button type="submit">Editar peruca</button>
                </div>
                </div>
            
                
              </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

    {% endblock %}