{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Sua Página</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/solicitacoes/style.css' %}">
</head>
<body>

  <h1>Listar Perucas</h1>

  <div class="perucas-container">
    {% for peruca in perucas_disponiveis %}
      <div class="peruca-item">
        <img src="{{ peruca.foto.url }}" alt="Foto da Peruca">
        <form method="post" action="{% url 'excluir_peruca' peruca.pk %}">
          {% csrf_token %}
          <button type="submit">Excluir</button>
        </form>
        <a href="{% url 'editar_peruca' peruca.pk %}">Editar</a>
      </div>
    {% empty %}
      <p>Nenhuma peruca cadastrada.</p>
    {% endfor %}
  </div>

  <h1>Cadastrar Peruca</h1>

  <form method="post" enctype="multipart/form-data" action="{% url 'cadastrar_peruca' %}">
    {% csrf_token %}
    
    <label for="id_tamanho">Tamanho:</label>
    <select id="id_tamanho" name="tamanho">
      <option value="curto">Peruca de tamanho curto</option>
      <option value="medio">Peruca de tamanho médio</option>
      <option value="longo">Peruca de tamanho longo</option>
    </select>
    
    <label for="id_tipo">Tipo:</label>
    <select id="id_tipo" name="tipo">
      <option value="liso">Peruca de cabelo liso</option>
      <option value="ondulado">Peruca de cabelo ondulado</option>
      <option value="cacheado">Peruca de cabelo cacheado</option>
      <option value="crespo">Peruca de cabelo crespo</option>
    </select>
    
    <label for="id_cor">Cor:</label>
    <select id="id_cor" name="cor">
      <option value="loiro">Peruca de cabelo loiro</option>
      <option value="ruivo">Peruca de cabelo ruivo</option>
      <option value="preto">Peruca de cabelo preto</option>
      <option value="castanho">Peruca de cabelo castanho</option>
      <option value="grisalho">Peruca de cabelo grisalho</option>
    </select>
    
    <label for="id_foto">Foto:</label>
    <input type="file" id="id_foto" name="foto" accept="image/*">
    
    <button type="submit">Cadastrar</button>
  </form>

</body>