{% extends "base/base.html" %}

{% block content %}

{% load static %}
 <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-12">
            <div class="django-form">
              <div class="section-header">
                <h2>Banco de Perucas</h2>
              </div>

                <section id="team" class="team">
                  <div class="container" data-aos="fade-up">
            
                    <div class="row gy-4">

                      {% for peruca in perucas_disponiveis %}

                      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                          <div class="text-start">
                            <label for="peruca_{{ peruca.id }}">
                                <img src="{{ peruca.foto.url }}" alt="Foto da Peruca" class="img-fluid">
                                <h4> Tamanho: {{ peruca.tamanho }} <br> </h4>
                                <h4> Tipo: {{ peruca.tipo }} <br> </h4>
                                <h4> Cor: {{ peruca.cor }} <br> </h4> 
                            </label>
                            <div class="btn-group" role="group">
                                <a href="{% url 'editar_peruca' peruca.pk %}" class="btn btn-warning me-2">Editar</a>
                                <a href="{% url 'excluir_peruca' peruca.pk %}" class="btn btn-danger">Excluir</a>
                            </div>
                          </div>  
                        </div>
                    </div>
              
                      {% endfor %}
            
                    </div>
                    <br> <br>
                    <div class="row">
                      <a href="{% url 'cadastrar_peruca' %}" type="button" class="button-cadastrar"> <strong> Cadastrar nova peruca </strong> </a>
                  </div>
                  
                  </div>
                </section><!-- End Our Team Section -->


              </div>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

    {% endblock %}