{% extends "base/base.html" %}

{% block content %}
  <h1> Depoimentos: </h1>
  <ul> 
    {% for depoimento in depoimentos %}
      <li> 
      <h3> {{depoimento.autor}} </h3>
      <p> {{depoimento.conteudo}} </p>
      {% if depoimento.autor == request.user %}
        <form action="{% url 'deletar_depoimento' depoimento.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Excluir</button>
    </form>
{% endif %}
      </li>
    {% endfor %}
    </ul>

    <h2> Escreva seu depoimento também! </h2>

    <form method="POST" action="{% url 'criar_depoimento' %}"> {% csrf_token %}
        <div>
            <textarea name="conteudo" rows="6" cols="100" placeholder="Escreva aqui o seu depoimento" required></textarea>
            <br>
            <br>
            <input type="submit" value="Salvar">
        </div>
    </form>

{% endblock %}