{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fios de Esperança</title>
  <!--
  <meta content="" name="description">
  <meta content="" name="keywords">
 
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
    <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
    <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
  </svg>
  -->

  <!-- Favicons -->
  <link href="{% static 'img/logo_black.png'%}" rel="icon">
  <link href="{% static 'img/logo_black.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
 

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo_white.png' %}">
        <h1 style="border-bottom: 3px solid #db4d35;">Fios de Esperança</h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a href="{% url 'home' %}">
              <i class="bi bi-house-door-fill" style="font-size: 20px;"></i>
              <span class="menu-text">Home</span>
            </a>
          </li>
          {% if request.user.is_staff%}
          <li class="dropdown">
            <a href="#"><span>Administração</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li><a href="{% url 'ler_usuarios'%}">Lista de Usuários</a></li>
              <li><a href="{% url 'listar_perucas' %}">Banco de Perucas</a></li>
              <li><a href="{% url 'listar_solicitacoes' %}">Lista de Solicitações</a></li>
            </ul>
          </li>       
          {% else %}
          <li>
            <a href="{% url 'fazer_solicitacao' %}">
              <i class="bi bi-envelope-paper-fill" style="font-size: 20px;"></i>
              <span class="menu-text">Fazer solicitação</span>
            </a>
          </li>
          <li>
            <a href="{% url 'minhas_solicitacoes' %}">
              <i class="bi bi-mailbox2" style="font-size: 20px;"></i>
              <span class="menu-text">Acompanhar Encomenda</span>
            </a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'editar_perfil' request.user.id %}">
              <i class="bi bi-person-circle" style="font-size: 20px;"></i>
              <span class="menu-text">Seu Perfil</span>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}">
              <i class="bi bi-box-arrow-right" style="font-size: 20px;"></i>
              <span class="menu-text">Sair</span>
            </a>
          </li>
          {% else %}
          <li><a href="{% url 'cadastro' %}">Cadastre-se</a></li>
          <li><a href="{% url 'login' %}">Entrar</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Fios de <span> Esperança </span></h2>
          <p>Doe cabelo, transforme vidas! Sua doação pode fazer toda a diferença, proporcionando esperança e confiança para quem enfrenta a perda de cabelo. Juntos, podemos ajudar a confeccionar perucas e levar alegria às vidas daqueles que mais precisam. Faça parte dessa causa e seja a inspiração que alguém está esperando!</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#portfolio" class="btn-get-started">Doar Agora</a>
            <a href="https://www.youtube.com/watch?v=wtrSa7MvjNs&ab_channel=AnaCarolina" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Assita o Vídeo</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'img/meninxs_logo.png' %}" class="img-fluid" style="float: right;" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-balloon-fill"></i></div>
              <h4 class="title"><a class="stretched-link">Transforme vidas!</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-emoji-laughing-fill"></i></div>
              <h4 class="title"><a class="stretched-link">Espalhe alegria!</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-box2-heart-fill"></i></div>
              <h4 class="title"><a  class="stretched-link">Seja solidário!</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gift-fill"></i></div>
              <h4 class="title"><a class="stretched-link">Doe Cabelos!</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Como Doar?</h2>
          <p>Descubra o poder da doação! Veja o passo a passo para doar cabelo e faça a diferença hoje mesmo!</p>
        </div>

          <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% static 'img/portfolio/passo1.png' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/passo1.png'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="https://wa.me/5577981073680" title="More Details">Passo 1</a></h4>
                  <p>Antes de cortar o cabelo, entre em contato com a gente para tirar quaisquer dúvidas </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{% static 'img/portfolio/product-1.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/passo2.png' %}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="#" title="More Details">Passo 2</a></h4>
                  <p> Meça seu cabelo. O tamanho mínimo para a confecção de perucas é de 20cm</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'img/portfolio/passo3.png' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/passo3.png' %}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="#" title="More Details">Passo 3</a></h4>
                  <p>Amarre o cabelo com um elástico e corte-o. Se preferir, vá a um cabeleleiro de confiança</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="{% static 'img/portfolio/passo3.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/passo4.png' %}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="#" title="More Details">Passo 4</a></h4>
                  <p> Embale o cabelo em um saco plástico seguro e resistente e coloque em uma caixa </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% static 'img/portfolio/app-2.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/passo5.png' %}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="#faq" title="More Details">Passo 5</a></h4>
                  <p>Vá aos Correios e envie para o nosso endereço indicado em nosso site</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{% static 'img/portfolio/product-2.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/passo6.png' %}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="https://www.instagram.com/enzo_afonso_/" title="More Details">Passo 6</a></h4>
                  <p>Tire uma foto da sua doação e nos marque! Ficamos gratos pelo seu ato de solidariedade</p>
                </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Perguntas <strong>Frequentes</strong></h3>
              <p>
                Você tem alguma pergunta sobre a doação de cabelo? Entre em contato conosco enviando um e-mail para fiosdeesperanca@gmail.com ou uma mensagem para o número (77) 98107-3680. Estamos aqui para ajudar e esclarecer qualquer dúvida que você possa ter!
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    Qual é o propósito da nossa ONG em relação à doação de cabelo?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    A nossa ONG tem como propósito coletar cabelos doados e confeccionar perucas para pessoas que enfrentam a perda de cabelo devido a condições médicas, como câncer ou alopecia. Nosso objetivo é oferecer apoio emocional e ajudar na recuperação da autoestima dessas pessoas.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    Quais são os requisitos para doar cabelo para a nossa ONG?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Para doar cabelo para nossa ONG, o comprimento mínimo exigido é de 20 centímetros. São aceitos todos os tipos de cabelos, até cabelos com química. Fios grisalhos ou brancos também são aceitos.
                  </div>
                </div>
              </div><!-- # Faq item-->
              
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    Como posso enviar minha doação de cabelo para a ONG?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Para enviar sua doação de cabelo para a nossa ONG, você pode embalar o cabelo em um saco plástico seguro e resistente, colocar em uma caixa e enviá-lo para o endereço indicado em nosso site. Certifique-se de seguir as instruções de embalagem fornecidas para garantir que o cabelo chegue em boas condições.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Para qual endereço posso mandar a minha doação?
                  </button>
                </h3>
                  <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      Nós estamos localizados no Instituto Federal de Educação, Ciência e Tecnologia Baiano - Campus Guanambi.  Caixa Postal Nº 09 do Distrito de Ceraíma, Zona Rural, Guanambi - BA, CEP 46430-000
                    </div>
                  </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    Para onde vão as perucas confecionadas?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    As perucas confeccionadas a partir das doações de cabelo são destinadas a pessoas que enfrentam a perda de cabelo devido a condições médicas, como câncer ou alopecia. Elas são distribuídas para essas pessoas, proporcionando apoio emocional, confiança e ajudando-as a enfrentar essa fase com mais conforto e dignidade.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Últimos depoimentos</h2>
          <p>Descubra o poder transformador das perucas! Leia os inspiradores depoimentos de pessoas que receberam perucas durante o tratamento contra o câncer. Veja como essas doações fizeram a diferença em suas vidas e trouxeram confiança e esperança.</p>
        </div>

        <div class="row gy-4">
            {% for depoimento in depoimentos %}
            <div class="col-xl-4 col-md-6"> 
                <article>
                  <p class="post-category">{{ depoimento.autor.nome }} {{ depoimento.autor.sobrenome }}</p>
                  <h2 class="title">{{ depoimento.conteudo }}</h2>
                      {% if request.user == depoimento.autor %}
                        <a href="{% url 'deletar_depoimento' depoimento.id %}" class="btn btn-danger">Excluir</a>
                      {% endif %}
                </article>
              </div>
            {% endfor %}
          </div>
        
        <div class="depoimento">
          <br>
        </div>

        <br>
        <h3>Escreva seu depoimento também!</h3>
        <br>

        <div class="form-container">
          <form method="POST" action="{% url 'criar_depoimento' %}" class="form-content">
            {% csrf_token %}
            <div>
            <textarea name="conteudo" rows="4" cols="152" placeholder="Escreva aqui o seu depoimento" class="comentario" required></textarea>
            <br> <br> <input type="submit" value="Salvar" class="btn-salvar">
            </div>
          </form>
        </div>
      </div>
    </section><!-- End Recent Blog Posts Section -->

   

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <img src="{% static 'img/logo_white.png' %}">
            <span>Fios de Esperança</span>
          </a>
          <p>Fios de Esperança é uma plataforma para doação de perucas.</p>
          <br>
          <strong>Telefone:</strong> (77) 98107-3680 <br>
          <strong>Email:</strong> fiosdeesperanca@gmail.com<br>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/enzo_afonso_/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>  

          <div class="right-content">
              <h3>Doação via PIX</h3>
              <br>
              <img src="{% static 'img/pix.jpeg' %}" alt="QR Code" class="img-fluid" style="max-width: 175px;">
          </div>
        
    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Impact</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>