<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/sad.css">
</head>
<body>
  <div class="container">
    <div class="row h-100 align-items-center">
      <div class="col-sm-6 col-md-4 d-flex justify-content-center">
        <a href="#" class="square-link">
          <div class="square">
            <div class="square-content">Solicitar Peruca</div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 d-flex justify-content-center">
        <a href="#" class="square-link">
          <div class="square">
            <div class="square-content">Acompanhar Pedido</div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 d-flex justify-content-center">
        <a href="#" class="square-link">
          <div class="square">
            <div class="square-content">Depoimentos</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

