{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Cadastro</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="registration-form">
            <div class="titulo">
                <h1> &zwnj; Cadastro &zwnj; </h1>
                <br>
                <br>
            </div>
          <form method="POST" action="{% url 'cadastro' %}">
            {% csrf_token %}
            <h4> &zwnj; Dados Pessoais &zwnj; </h4>
            <br>
            <br>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Digite seu username">
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="Digite seu e-mail">
            </div>
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite seu nome">
            </div>
            <div class="form-group">
              <label for="sobrenome">Sobrenome</label>
              <input type="text" id="sobrenome" name="sobrenome" class="form-control" placeholder="Digite seu sobrenome">
            </div>
            <div class="form-group">
              <label for="telefone">Telefone</label>
              <input type="text" id="telefone" name="telefone" class="form-control" placeholder="Digite seu telefone">
            </div>
            <div class="form-group">
              <label for="password">Senha</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Digite sua senha">
            </div>
            <br>
            <h4> &zwnj; Endereço &zwnj; </h4>
            <br>
            <br>
            <div class="form-group">
              <label for="rua">Rua</label>
              <input type="text" id="rua" name="rua" class="form-control" placeholder="Digite sua rua ">
            </div>
            <div class="form-group">
              <label for="numero">Número</label>
              <input type="number" id="numero" name="numero" class="form-control" placeholder="Digite seu número">
            </div>
            <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="text" id="bairro" name="bairro" class="form-control" placeholder="Digite seu bairro">
              </div>
            <div class="form-group">
              <label for="cidade">Cidade</label>
              <input type="text" id="cidade" name="cidade" class="form-control" placeholder="Digite sua cidade ">
            </div>
            <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" id="estado" name="estado" class="form-control" placeholder="Digite seu Estado">
              </div>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            </div>
            <div class="form-group text-center">
              <a href="{% url 'login' %}" class="forgot-password">Cadastre-se</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
