body {
    background-color: #008374;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 50px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .testimonial-form {
    max-width: 500px;
    width: 100%;
  }
  
  .testimonial-list {
    max-width: 500px;
    width: 100%;
    margin-top: 30px;
  }
  
  .testimonial {
    background-color: #f85a40;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .testimonial .name {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .testimonial .testimonial-text {
    margin-bottom: 10px;
  }
  
  .testimonial .btn {
    background-color: #db4d35;
    color: white;
  }
  
  .testimonial .btn:hover {
    background-color: #f85a40;
  }
  