body {
    background-color: #008374;
    font-family: Arial, sans-serif;
  }
  
  .registration-form {
    background-color: white;
    padding: 20px;
    margin-top: 50px;
  }
  
  .registration-form h2 {
    margin-bottom: 30px;
  }
  
  .form-group label {
    color: #f85a40;
  }
  
  .btn-primary {
    background-color: #f85a40;
    border-color: #f85a40;
  }
  
  .btn-primary:hover {
    background-color: #db4d35;
    border-color: #db4d35;
  }
  