body {
    background-color: #008374;
    color: #fff;
  }


 .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #008374;
    color: #fff;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    margin-top: 20px;
    background-color: #f85a40;
    border-color: #f85a40;
  }
  
  .btn-secondary {
    margin-top: 20px;
    margin-right: 10px;
    background-color: #f85a40;
    border-color: #f85a40;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  