li {
    display: flex;
    align-items: center;
  }
  
  .corner-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
  }
  
  .login-form {
    background-color: white;
    padding: 20px;
    margin-top: 50px;
  }
  
  .login-form h2 {
    margin-bottom: 30px;
  }
  
  .form-group label {
    color: black;
  }
  
  .btn-primary {
    background-color: #ff6600;
    border-color: #ff6600;
  }
  
  .btn-primary:hover {
    background-color: #e65c00;
    border-color: #e65c00;
  }
  
  .forgot-password {
    color: #008374;
  }
  
  body{
    background-color: #b3dfda;
    font-family: Arial, sans-serif;
  }
  
  .centered-div {
    top: 50%;
    left: 50%;
    background-color: #b3dfda;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .titulo2 h4 {
    border-bottom: 3px solid #f85a40;
    display: inline;
  }
  
  .titulo {
    text-align: center;
  }
  
  .registration-form {
    background-color: white;
    padding: 20px;
    margin-top: 50px;
  }
  
  .registration-form h2 {
    margin-bottom: 30px;
  }
  
  .btn-primary {
    background-color: #f85a40;
    border-color: #f85a40;
  }
  
  .btn-primary:hover {
    background-color: #db4d35;
    border-color: #db4d35;
  }
  