body{
    font-family: Arial, sans-serif;
}

.btn-primary {
    background-color: #f85a40;
    border-color: #f85a40;
}
  
.btn-primary:hover {
    background-color: #db4d35;
    border-color: #db4d35;
}

h1 {
    border-bottom: 4px solid #f85a40;
    display: inline;
}

section {
    padding: 50px;
}

.lista-usuarios {
    margin: 5px;
    border: 3px solid #008374;
    border-radius: 10px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza os itens verticalmente */
    margin: 10px; /* Espaçamento entre as peruca-items */
    width: 100%;
    padding: 20px;
}
